<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBO1VdbyckSAKol1SeaZPUb4T-X4ogQ3SE</string>
	<key>GCM_SENDER_ID</key>
	<string>638010533068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.tutorialmultilanguageapp</string>
	<key>PROJECT_ID</key>
	<string>tutorial-multi-language-70gx4j</string>
	<key>STORAGE_BUCKET</key>
	<string>tutorial-multi-language-70gx4j.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638010533068:ios:5e4b52c0d8f2074d844e69</string>
</dict>
</plist>